.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 30px;
  }
  
  
  
  .top-menu {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .logo img {
    height: 20px;
    margin-right: 20px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  .search-bar input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  
  .notifications {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .notifications button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown button{
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .dropdown-content {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
  }
  
  .dropdown-content.show {
    display: block;
  }
  
  .dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-content li {
    padding: 10px 20px;
  }
  
  .user-photo {
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
  }

  .icon-white path {
    fill: white;
  }
  
  