.menuNotch {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    border-radius: 15px 15px 0px 0px;
    align-items: center;
    font-size: 12px;
    color: #f3f3f3;
}

.reactionPubli {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
}

.reactionPubliIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linetimeline {
    border-top: 1px solid rgba(204, 204, 204, 0.39);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: opx;
}

.menuTimeline {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 10px 10px;
    border-radius: 0px 0px 0px 0px;
    align-items: center;
}

.timeline-share {
    display: flex;
    margin-top: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    align-items: center;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 2px;
}

.timeline-share p {
    font-size: 10px;
}

.logoTimelinesHeader {
    width: 100px;
    height: auto;
}

.screenfour {
    max-width: 260px;
    min-width: 260px;
    max-height: 580px;
    min-height: 580px;
    border-radius: 32px;
    background-color: #f3f3f3;
}

.screenfour p {
    font-size: 9px;
    font-family: 'lato';
    font-weight: 600;
    margin: 0px;
    color: #000000b4;
}

.screenfour h6 {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    font-weight: 600;
}

.app-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    padding-top: 10px;
}

.post-title {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.post-description {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-left: 10px;
}

.post-description p {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 10px;
}

.timeline-content {
    max-width: 260px;
    min-width: 260px;
    max-height: 580px;
    overflow: hidden;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 10px;
}

.notchtimeline {
    width: 80px;
    height: 20px;
    background-color: #000;
    border-radius: 50px;
    position: relative;
}