.menuNotch {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 0px 25px;
    border-radius: 15px 15px 0px 0px;
    align-items: center;
    font-size: 12px;
    color: #f3f3f3;
}

.menuTimeline {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 0px 0px 0px 0px;
    align-items: center;
}

.timeline-share{
    display: flex;
    margin-top: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    align-items: center;
    padding-left: 10px;
}

.timeline-share p{
    padding-left: 5px;
    font-size: 12px;
    opacity: 40%;
}

.logoTimelinesHeader {
    width: 100px;  
    height: auto;  
}
.screenfour{
    max-width: 260px;
    min-width: 260px;
    max-height: 580px;
    min-height: 580px;
    border-radius: 16px;
    background-color: #f3f3f3;
}

.timelineName{
    padding-left: 10px;
}

.timelineName1{
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 10px;
}

.app-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-title{
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}

.post-description {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.post-description p{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 12px;
}

.timeline-content{
    max-width: 260px;
    min-width: 260px;
    max-height: 580px;
    overflow: hidden; 
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 10px;
}

.notchtimeline{
    width: 80px; 
    height: 20px; 
    background-color: #000;
    border-radius: 50px; 
    position: relative;
}