.storePrint03 h5 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.storePrint03 h6 {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    margin-left: 10px;
}



.storePrint03 p {
    font-size: 10px;
    font-family: 'lato';
    font-weight: 600;
    margin: 0px;
    margin-left: 10px;
    color: #a7a7a7;
}

.storePrint03 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    overflow: hidden;
    max-width: 354px;
    max-height: 676px;
    min-height: 676px;
    min-width: 354px;
}


.scheduleLabel {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.scheduleLabel01 {
    background-color: white;
    display: flex;
    flex-direction: column
}

.scheduleHour {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 10px;
    border-radius: 10px;
}



.textschedule {
    display: flex;
    margin-bottom: 5px;

}

.line {
    border-top: 1px solid rgb(204, 204, 204);
    margin-left: 40px;
    margin-right: 12px;
    margin-bottom: 10px;
    margin-top: -5px;
}

.buttonschedule {
    background-color: #e3e3e3;
    border: none;
    border-radius: 8px;
    padding: 12px 12px 12px 12px;
    font-size: 8px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0px 10px 10px 10px;
}

.buttonschedule01 {
    background-color: #e3e3e3;
    border: none;
    border-radius: 7px;
    padding: 6px 12px 6px 12px;
    font-size: 8px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0px 10px 10px 10px;
    color: #fff;
    font-weight: 600;
}

.largeText {
    font-size: 12px;
    /* Tamanho da fonte para "11" */
    font-weight: bold;
    color: #fff;
}

.smallText {
    font-size: 8px;
    color: #fff;
}

.chat-messages {
    max-height: 80%;
    overflow-y: auto;
    padding: 10px;
    margin-top: 230px;
    display: flex;
    flex-direction: column;
}

.date-label {
    text-align: center;
    font-size: 12px;
    color: gray;
    margin: 10px 0;
}

.chat-bubble {
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    max-width: 70%;
    line-height: 1.4;
}

.chat-bubble.sent {
    align-self: flex-end;
}

.chat-bubble.received {
    align-self: flex-start;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #868686;
}

.chatLabel {
    display: flex;
    flex-direction: column;
}

.chat-input input::placeholder {
    color: #5a5a5a;
}

.menu-items {
    display: grid;
    grid-template-columns: 120px 120px;
    /* Ajuste conforme necessário */
    gap: 10px;
    margin: 8px;
    justify-content: center;
}



.menu-item span {
    margin-left: 10px;
    font-size: 12px;
}

.logout-button {
    width: 93%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 8px;
    margin-top: 100px;
}

.leadLabel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.labelColetor {
    background-color: white;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
}

.labelColetor button {
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 10px;
}

.labelColetor p {
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}