.notificationLabel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    border: none;
    color: white;
}

.notificationLabel01 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
}

.storePrint04 h5 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.storePrint04 h7 {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    color: black;
    font-weight: 600;
}

.storePrint04 h6 {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    margin-left: 10px;
    color: black;
}

.storePrint04 p {
    font-size: 12px;
    font-family: 'Lato';
    margin: 0px;
    margin-left: 10px;
    color: black;
}

.storePrint04 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    overflow: hidden;
    max-width: 354px;
    max-height: 676px;
    min-height: 676px;
    min-width: 354px;
}

.icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 27px;
    border-radius: 50%;
}

