@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Montserrat:wght@700&display=swap');


h1 {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 12px;
  margin-bottom: 0px;
}

h2 {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

h5 {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}
.TitleColor{
  margin-left: 12px;
    margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

.PointsContainer {
  width: 100%;
  display: flex;
  margin-bottom: 1%;
  height: 30px;
}

.editButton {
display: flex;
    width: 100%;
    padding: 5px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    align-items: center;
}

.RulePoint {
  border-radius: 10px;
  text-align: center;
  background-color: white;
  border: 1px solid #BFBFBF;
  width: 20%;
  padding: 16px;
}

.RuleName {
  width: 100%;
  border-radius: 10px;
  border-color: #f5f5f5;
  background-color: white;
  border: 1px solid #BFBFBF;
  ;

  text-align: justify;
  padding: 16px;
  margin-right: 25px;
}

.splash-image {
  width: 215px;
  height: 445px;
  border-radius: 10px;
}

.login-image {
  width: 300px;
  height: 241px;
  border-radius: 10px;
}

.logoTimeline-image {
  width: 300px;
  height: 149px;
  border-radius: 10px;
}

.store-image {
  width: 445px;
  height: 445px;
  border-radius: 10px;
}

.previewImage{
  width: 200px;
  height: 78px; 
  overflow: hidden;
}

.preview-image {
  width: 100%;
  height: auto;
  align-items: center;
  border-radius: 10px;

}


.loginImageButton {
  display: flex;
  align-items: center;
  margin-top: -20px;
  position: relative;
  height: 46px;
  width: 301px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  z-index: 4;
  text-align: start;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  border: 1px solid #BFBFBF;
  padding: 10px;

}


.logoTimelineButton {
  display: flex;
  align-items: center;
  margin-top: -40px;
  position: relative;
  height: 46px;
  width: 300px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  z-index: 4;
  text-align: start;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  border: 1px solid #BFBFBF;
  padding: 10px;
}


.splashButton {
  display: flex;
  align-items: center;
  margin-top: -20px;
  position: relative;
  height: 46px;
  width: 215px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  z-index: 2;
  text-align: start;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  border: 1px solid #BFBFBF;
  padding: 10px;
}

.storeIconButton {

  display: flex;
  align-items: center;
  margin-top: -20px;
  position: static;
  height: 46px;
  width: 445px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  z-index: 2;
  text-align: start;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  border: 1px solid #BFBFBF;
  padding: 10px;
}

.customButton {

  display: flex;
  align-items: center;
  margin-top: -13px;
  height: 40px;
  width: 200px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
  z-index: 2;
  text-align: start;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  border: 1px solid #BFBFBF;
  padding: 10px;
}

.inputFile {
  display: none;
}



.containerPai {
  display: flex;
  height: 100vh;
  flex-direction: row;
  overflow: hidden;
  margin-left: 50px;
}

.largerInput {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #BFBFBF;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  padding: 10px;
}

.containerColor {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-radius: 20px;
}



.containerColor .chrome-picker {
  position: absolute;
  z-index: 1;
}



.containerRow {
  flex: 40%;
  display: flex;
  flex-direction: column;

}

.containerRow h3 {
  margin-top: 10px;
}

.previewContainer {
  display: flex;
  width: 24vw;
  flex-direction: column;
  margin-top: 10%;
}

.previews {
  background-color: #ffffff;
  padding: 70px;
  transform: scale(0.38);
  width: 1080px;
  height: 1920px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
  justify-content: space-evenly;
  transform-origin: top left;
  
}

.previews p {
  margin: 10px 0;
}

.EditableContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 70vw;
  overflow-y: auto; 
  scrollbar-color: rgb(196, 196, 196) #f0f0f0;
  scrollbar-width: thin;
}

.TituloPagina{
  margin-left: 20px;
}

.AssetsContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 60vw;

}

.logoSection {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logoPreviewContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.logoTitleContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.TitleColorSelection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.logoPreview {
  width: 300px;
  height: 128px;
  background-color: #e5e5e5;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.placeholderLogoPreview {
  width: 300px;
  height: 128px;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #777777;
}

.logoPreviewContainer input[type="file"] {
  margin-top: 8px;
}

.colorSection {
  display: flex;
  align-items: flex-start;
  margin-top: 16px;
  flex-direction: column;
  margin-right: 20px;

}



.ColorColorSection {

  border-radius: 0px 0px 10px 10px;
  height: 35px;
  width: 187px;
  margin-top: -250px;
  margin-left: -1px;
  z-index: 2;
  border-color: rgb(245, 245, 245);
  background-color: white;
  border: 1px solid #BFBFBF;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  padding-left: 10px;

}

.ContainerPoints {

  
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.containerRules {
  
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.containerRulesOne {
  display: flex;
  align-items: center;

}

.pontuacao div {
  border-bottom: 1px solid;
  margin-right: 5%;
  margin-left: 5%;
}

.ButtonAddInputs {
  display: flex;
  align-items: center;
  height: 32px;
  width: 100%;
  background-color: rgb(136, 1, 1);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  border: 1px solid #BFBFBF;
  justify-content: space-around;
  font-weight: bold;

}

.PreviewDownload {
  display: flex;
  align-items: center;
  height: 32px;
  width: 100%;
  background-color: rgb(136, 1, 1);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid #BFBFBF;
  justify-content: space-around;
  margin-bottom: 20px;
}

.EditedInput {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 25px;
  height: 30px;
  
  border-radius: 10px;
  border: 1px solid #BFBFBF;
  margin-bottom: 10px;
}

@media screen and (max-width: 1080px) {

  
  
}