@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


h1 {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 12px;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #ffffff;
}

h2 {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #ffffff;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 8px;
}

h5{ 
  font-family: 'Lato', sans-serif;
  font-size: 8px;
}

.previews h4{
  font-family: 'Lato', sans-serif;
  font-size: 8px;
  text-transform: uppercase;
}

.TitleColor{
  margin-right: 20px;
  padding: 10px;
}

.PointsContainer {
  width: 100%;
  display: flex;
  margin-bottom: 1%;
  height: 30px;
}

.deleteButton{
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.deleteButton svg{
  color: #ffffff;
}

.editButton {
display: flex;
    padding: 5px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    align-items: center;
}

.RulePoint {
  border-radius: 10px;
  text-align: center;
  background-color: #ffffff33;
  border: none;
  width: 20%;
  padding: 16px;
  color: #ffffff;
  text-transform: uppercase;
}

.RuleName {
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff33;
  color: #ffffff;
  border: none;
  text-align: justify;
  padding: 16px;
  margin-right: 25px;
  text-transform: uppercase;
}

.splash-image {
  width: 200px;
  height: 430px;
  border-radius: 10px;
}

.login-image {
  width: 300px;
  height: 241px;
  border-radius: 10px;
}

.logoTimeline-image {
  width: 300px;
  height: 149px;
  border-radius: 10px;
}

.store-image {
  width: 300px;
  height: 100%;
  border-radius: 10px;
}

.previewImage{
  width: 50px;
  background-color: #777777;
  border-radius: 10px;
  display: flex;
}

.preview-image01 {
  width: 80px;
  align-items: center;
}


.loginImageButton {
  display: flex;
  align-items: center;
  margin-top: -20px;
  position: relative;
  height: 46px;
  width: 301px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  z-index: 4;
  text-align: start;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  border: 1px solid #BFBFBF;
  padding: 10px;

}


.logoTimelineButton {
  display: flex;
  align-items: center;
  margin-top: -40px;
  position: relative;
  height: 46px;
  width: 300px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  z-index: 4;
  text-align: start;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  border: 1px solid #BFBFBF;
  padding: 10px;
}


.splashButton {
  display: flex;
  align-items: center;
  margin-top: -20px;
  position: relative;
  height: 46px;
  width: 200px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  z-index: 2;
  text-align: start;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  border: 1px solid #BFBFBF;
  padding: 10px;
}

.storeIconButton {

  display: flex;
  align-items: center;
  margin-top: -20px;
  position: static;
  height: 46px;
  width: 300px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  z-index: 2;
  text-align: start;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  border: 1px solid #BFBFBF;
  padding: 10px;
}

.customButton {

  display: flex;
  align-items: center;
  height: 40px;
  width: 100px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  border-radius:10px;
  cursor: pointer;
  z-index: 2;
  text-align: start;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  border: 1px solid #BFBFBF;
  padding: 10px;
}

.inputFile {
  display: none;
}



.containerPai {
  display: flex;
  height: 90vh;
  flex-direction: row;
  justify-content: center;
}

.largerInput {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  background-color: #ffffff33;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #ffffff;
  border: none;
  padding: 10px;
}

.containerColor {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}



.containerColor .chrome-picker {
  position: absolute;
  z-index: 1;
}



.containerRow {
  display: flex;
  flex-direction: column;

}

.containerRow h3 {
  margin-top: 10px;
}

.previewContainer {
  display: flex;
  width: 20vw;
  flex-direction: column;
  margin-top: 10%;
}

.previews {
  background-color: #ffffff;
  padding: 20px;
  min-width: 270px;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
  justify-content: space-evenly;
  transform-origin: top left;
  
}

.previews p {
  margin: 10px 0;
}

.EditableContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 65vw;
  scrollbar-color: rgb(196, 196, 196) #f0f0f0;
  scrollbar-width: thin;
}


.AssetsContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 60vw;

}

.logoSection {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logoPreviewContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
}

.logoTitleContainer {
  align-items: center;
  justify-content: flex-end;
  margin-left: 15px;
}

.TitleColorSelection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.logoPreview {
  width: 300px;
  height: 128px;
  background-color: #e5e5e5;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.placeholderLogoPreview {
  width: 300px;
  height: 128px;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #777777;
}

.logoPreviewContainer input[type="file"] {
  margin-top: 8px;
}

.colorSection {
  display: flex;
  align-items: center;
  margin-top: 16px;
  flex-direction: row;
  margin-right: 8px;
  background-color: #ffffff33;
  padding: 10px;
  border-radius: 16px;

}



.ColorColorSection {

  border-radius: 10px;
  height: 35px;
  width: 100px;
  margin-left: -1px;
  z-index: 2;
  border-color: rgb(245, 245, 245);
  background-color: white;
  border: 1px solid #BFBFBF;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  padding-left: 10px;

}

.ContainerPoints {
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-right: 20px;
}

.containerRules {
  
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-right: 20px;
  
}

.containerRulesOne {
  display: flex;
  align-items: center;

}

.pontuacao div {
  border-bottom: 1px solid;
  margin-right: 5%;
  margin-left: 5%;
}

.ButtonAddInputs {
  display: flex;
  align-items: center;
  height: 32px;
  width: 100%;
  background-color: rgb(136, 1, 1);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  justify-content: space-around;
  font-weight: bold;

}

.PreviewDownload {
  display: flex;
  align-items: center;
  height: 32px;
  width: 100%;
  background-color: rgb(136, 1, 1);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 12px;
  justify-content: space-around;
  margin-bottom: 20px;
}

.EditedInput {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 25px;
  height: 30px;
  
  border-radius: 10px;
  border: 1px solid #BFBFBF;
  margin-bottom: 10px;
}

input::placeholder {
  color: #ffffff; /* Altere para a cor desejada */
  opacity: 1; /* Mantém a opacidade total */
}

@media screen and (max-width: 1080px) {

  
  
}