.body {

  background-color: #292929;
}

.login-container {
  display: flex;
}

.p {
  color: #ffffff;
}

.left {
  background-color: #28FF00;
  width: 50%;
  height: 100vh;
  float: left;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.tabs {
  display: flex;
}

.tabs button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  text-align: center;
}

.tabs button.active {
  border-bottom: 2px solid #28FF00;
}



.loginForm input {
  margin-bottom: 10px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #ffffff;
  border: none;
  height: 4vh;
  width: 30vw;
}

