.assinaturaContainer {
  padding: 20px;
  border-radius: 10px;
}

.headerAssinatura {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-buttons button {
  background-color: #ffffff; /* Cor dos botões conforme a imagem */
  color: #8e0000;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.header-buttons button:hover {
  background-color: #a40000;
  color: #ffffff;
}

.category {
  margin-bottom: 20px;
}

.category h3 {
  color: white;
  margin-bottom: 10px;
}

.category-items {
  display: flex;
  gap: 10px;
}

.item {
  background-color: #ffffff35; /* Ajuste para refletir o fundo do item */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  flex: 1;
}

.item button {
  background-color: #ffffff;
  color: #8e0000;
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
}

.item button:hover {
  background-color: #5b5b5b;
}
