/* App.css */

body, html {
    height: 100%;
    margin: 0;
    background: linear-gradient(135deg, #000000, #570000);
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #000000, #570000); /* Gradiente linear */
  }
  
  .main-container {
    display: flex;
    flex-grow: 1;
  }
  
 
  
  .content {
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.2); /* Fundo branco com 20% de opacidade */
    overflow-y: auto;
    border-radius: 30px; 
    margin-right: 20px;
    margin-left: 20px; 
    margin-bottom: 20px;
  }
  